<div class="container">
	 <div class="row">
	   <% @artists.each do |artist| %>
	      <div class="col-md-3">
	   	    <div class="image-responsive thumbnail" align="center">
            <%= image_tag(artist.image_url, :class => "photo") %>
            <h3><%= artist.name %></h3>
            <div class="btn-wrapper">
               <%= link_to "Ver más" , artist, :class  => "btn btn-primary btn-block" %>
            </div> 
          </div>
	      </div>
     <% end %>
  </div>
</div>  